altair
argon2-cffi
urllib3==1.26.6
argon2-cffi-bindings
asgiref
asttokens
attrs
backcall
pinecone-client
beautifulsoup4
bleach
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
tiktoken
colorama
colour
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
distlib
fastapi
langchain
Django
entrypoints
executing
fastjsonschema
fonttools
gitdb
GitPython
graphviz
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
openai
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
llvmlite
lockfile
MarkupSafe
matplotlib-inline
mistune
msgpack
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pkginfo
platformdirs
pluggy
poetry-core
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyproject_hooks
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
pyzmq
sentence-transformers
faiss-cpu
rapidfuzz
requests
retrying
rpds-py
scipy
semver
Send2Trash
shellingham
six
slicer
smmap
soupsieve
sqlparse
stack-data
streamlit
tenacity
terminado
threadpoolctl
tinycss2
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
tro
